torch
torchvision
pyvene
transformers
protobuf
matplotlib
ipywidgets
plotnine
huggingface-hub
numpy
accelerate
sentencepiece
evaluate
datasets
wandb
scikit-learn
jupyter
fsspec
ydata-profiling
seaborn
gcsfs
